# dont commit the actual api keys or other personal info to the public github
#configs/authors.txt
configs/keys.ini
#configs/paper_topics.txt
# dont commit venv and ide stuff
venv
.idea
# dont commit large data files
ACI/MMLU/mmlu_with_aps_scores.csv
